body {
  background-image: url(truth-lies-scissors.jpg);
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  color: #777;
}

.containerTimer {
  text-align: center;
}

#countdown,
#timeCountdown {
  font-size: 3rem;
  display: inline-block;
  width: auto;
  background-color: white;
  border-radius: 100%;
  border: 3px solid #000;
  margin-top: 2em;
  width: 90px;
  height: 90px;
}

.real-div {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.fake-div {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.container {
  text-align: center;
}

.tryAgainBtn {
  text-align: center
}

.tweet {
  display: inline-block;
  margin-top: 10rem;
  width: 50%;
}

.row {
  position: relative;
}

.controls {
  text-align: center;
}

#start-btn {
  background-color: black;
  color: white;
  padding: 1rem;
  position: absolute;
  top: 100%;
  left: 44%;
}

.newP {
  border: 3px solid black;
  background-color: white;
}

.pTimeout {
  border: 3px solid black;
  background-color: white;
  margin-top: 10rem;
  display: inline-block;
}

.resultP {
  border: 3px solid black;
  background-color: white;
  display: inline-block;
}

.result {
  text-align: center;
}